nav{
    
}
strong{
    font-size:larger;
    color: darkred;
}
h1{
    color: blue;
}
nav ul,li{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    text-decoration: none;
}
nav a{
    justify-content: space-around;
}
#logo{
    width: 100%;

}