nav{
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(to top,black,darkred);
    
    overflow: auto;
}
.effect{
    color: #731010;
}
nav ul,li{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding-left: 10%
}
nav a{
    justify-content: space-between;
    text-decoration: none;
    color:seagreen;
    padding: 5px;
}
#logo{
    width: 15%;
    margin-left: 10%;

}
a{
    color:firebrick;
}
a:hover{
    color:darkmagenta;
}
.picc{
    width: 100%;
}
span{
    color: #F2273F;
}
nav a:hover{
    color:honeydew;
}


